# Import Libraries and Data

In [23]:
import pandas as pd
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
data = pd.read_csv("/content/traffic.csv")

#Exploratory Data Analysis

In [53]:
data #gives you a comprehensive view of the data

                  DateTime  Junction  Vehicles           ID
0      2015-11-01 00:00:00         1        15  20151101001
1      2015-11-01 01:00:00         1        13  20151101011
2      2015-11-01 02:00:00         1        10  20151101021
3      2015-11-01 03:00:00         1         7  20151101031
4      2015-11-01 04:00:00         1         9  20151101041
...                    ...       ...       ...          ...
48115  2017-06-30 19:00:00         4        11  20170630194
48116  2017-06-30 20:00:00         4        30  20170630204
48117  2017-06-30 21:00:00         4        16  20170630214
48118  2017-06-30 22:00:00         4        22  20170630224
48119  2017-06-30 23:00:00         4        12  20170630234

[48120 rows x 4 columns]

In [54]:
data.head(15) #gives the first 15 entries

               DateTime  Junction  Vehicles           ID
0   2015-11-01 00:00:00         1        15  20151101001
1   2015-11-01 01:00:00         1        13  20151101011
2   2015-11-01 02:00:00         1        10  20151101021
3   2015-11-01 03:00:00         1         7  20151101031
4   2015-11-01 04:00:00         1         9  20151101041
5   2015-11-01 05:00:00         1         6  20151101051
6   2015-11-01 06:00:00         1         9  20151101061
7   2015-11-01 07:00:00         1         8  20151101071
8   2015-11-01 08:00:00         1        11  20151101081
9   2015-11-01 09:00:00         1        12  20151101091
10  2015-11-01 10:00:00         1        15  20151101101
11  2015-11-01 11:00:00         1        17  20151101111
12  2015-11-01 12:00:00         1        16  20151101121
13  2015-11-01 13:00:00         1        15  20151101131
14  2015-11-01 14:00:00         1        16  20151101141

In [55]:
data.info() #gives you the data types and the column variable names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  48120 non-null  object
 1   Junction  48120 non-null  int64
 2   Vehicles  48120 non-null  int64
 3   ID        48120 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [56]:
data[data.duplicated()] #checking for duplicates
#there's no duplicates here

Empty DataFrame
Columns: [DateTime, Junction, Vehicles, ID]
Index: []

In [57]:
#extra cell if you guys want to do more EDA

#Procss Data

In [58]:
#we need to do some data processing 
#for example, we might not want the first and last column 
del data[data.columns[-1]]
del data[data.columns[0]]
print(data)

       Junction  Vehicles
0             1        15
1             1        13
2             1        10
3             1         7
4             1         9
...         ...       ...
48115         4        11
48116         4        30
48117         4        16
48118         4        22
48119         4        12

[48120 rows x 2 columns]

In [59]:
#now think about what the goal of this project is and how you should process your data to fit that
#the goal of your project is to find the optimal route from point A to point B
#so we want to avoid the traffic jams
#which means you should analyze each individual junction (there's 4 total) to find how jammed each junction is
#in this case, you can use the number of vehicles as a measuring stick. More vehicles means more jamming


# Create your train and test sets

The training set is what you'll train your model on. The testing set is what you use to validate that your model is good. 


1) To create the training and testing set, split the data into 80-20. 80% of it should be used for the training set and then 20% of it should be the testing set. 

2) Do not expose the models to the testing set until you've used them on the training set. The testing set exists as a form of validation, you should compare the accuracy rate and error rate generated by the training set to the testing set

#ML Model

In [61]:
#try out random forest 
#try out KNN 
#your goal here is to test out the different ML models and see which one can yield the most accurate results

# Deep Learning
use neural networks if you want to up the accuracy (do this after ML)